
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #ffe6e6; 
            margin: 0;
            padding: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            
        }
        h1 {
            font-family: 'Pacifico', cursive;
            color: #ff4d4d;
            font-size: 50px;
            margin-top: 20px;
            transition: color 0.3s ease;
        }
        h2 {
            font-family: 'Pacifico', cursive;
            color: #ff4d4d;
            font-size: 50px;
            margin-top: 20px;
            transition: color 0.3s ease;
        }
        p{
            font-family: 'Pacifico', cursive;
            color: #ff4d4d;
            font-size: 50px;
            margin-top: 20px;
            transition: color 0.3s ease; 
        }
        h1:hover {
            color: #ff1a1a; 
        }
        .container {
            position: relative;
            max-width: 90%;
            max-width: 300px;
            margin: auto;
        }
        .card {
            display: none;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 15px;
            text-align: center;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .card img {
            width: 100%; 
            height: 470px; 
            object-fit: cover; 
            border-radius: 10px;
        }
        .description {
            margin-top: 10px;
            font-size: 16px;
            color: #333;
        }
        .btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #ff4d4d;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.3s ease;
            border-radius: 80px;
        }
        .btn:hover {
            background-color: #ff1a1a; 
        }
        .btn-left {
            left: -40px;
        }
        .btn-right {
            right: -40px;
        }
        .heart {
            position: absolute;
            color: red;
            font-size: 20px;
            animation: float 5s linear infinite;
            opacity: 0;
            animation-name: float, fadeIn;
            animation-duration: 5s, 0.5s;
            animation-timing-function: linear, ease-in-out;
            animation-delay: 0s, 2s;
           
        }
        #timer {
            display: flex;
            justify-content: center;
            gap: 15px; 
            text-align: center;
        }
        .time-block {
            background: rgba(207, 2, 2, 0.1); 
            padding: 12px 16px;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            min-width: 80px;
        }
        .time-number {
            font-size: 2em; 
            font-weight: bold;
            color: #ff4d4d;
        }
        .time-label {
            font-size: 0.9em; 
            color: #ff4d4d;
        }
        .carta {
            background: #fff; 
            padding: 20px;
            border-radius: 15px;
            text-align: center;
            font-family: 'Arial', sans-serif; 
            color: #333; 
            max-width: 600px;
            margin: 20px auto;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            line-height: 1.6;
            border: 2px dashed #ff4d4d; 
            position: relative;
            animation: brilho 1.5s infinite alternate; 
        }
        
        .carta p {
            font-size: 20px;
        }
        
        .coracao {
            font-size: 3rem;
            text-align: center;
            color: red;
            margin-bottom: 20px;
        }
        
        @media screen and (max-width: 480px) {
            #timer {
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                gap: 10px; 
                text-align: center;
            }
        
            .time-block {
                background: rgba(207, 2, 2, 0.1); 
                padding: 10px;
                border-radius: 8px;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            }
        
            .time-number {
                font-size: 1.8em; 
                font-weight: bold;
                color: #ff4d4d;
            }
        
            .time-label {
                font-size: 0.8em; 
                color: #ff4d4d;
                
            }
        }
        @keyframes float {
            0% {
                transform: translateY(0);
                opacity: 1;
            }
            100% {
                transform: translateY(-400vh);
                opacity: 0;
            }
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @media (max-width: 480px) {
            .container {
                max-width: 90%; 
            }
            .card img {
                width: 100%;
                max-height: 80%; 
            }
            .btn {
                font-size: 14px; 
                padding: 6px;
            }
        }
        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
        }
        
        
        @keyframes brilho {
            0% {
                box-shadow: 0 0 5px #ff4d4d, 0 0 10px #ff4d4d, 0 0 20px #ff4d4d;
                border-color: #ff4d4d; 
            }
            100% {
                box-shadow: 0 0 15px rgb(243, 19, 19), 0 0 30px rgb(243, 19, 19), 0 0 45px rgb(243, 19, 19);
                border-color: rgb(243, 19, 19);
            }
        }
        
       